<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FlaskApp</title>
    <style>
        .todo {
            padding: 20px;
            margin: 10px;
            background-color: #eee;
        }
    </style>
</head>
<body>
    <h1>FlaskTODO</h1>
    <hr>
    <div class="content">
    <form method="post">
        <p>
            <b><label for="content">Todo content</label></b>
        </p>
        <p>
            <input type="text" name="content"
                placeholder="Todo Content"></input>
        </p>

        <p>
            <b><label for="degree">Degree</label></b>
        </p>
        <p>
            <input id="degree-0" name="degree" required type="radio" value="0">
            <label for="degree-0">☆☆☆☆☆</label>
        </p>
        <p>
            <input id="degree-1" name="degree" required type="radio" value="1">
            <label for="degree-1">★☆☆☆☆</label>
        </p>
        <p>
            <input id="degree-2" name="degree" required type="radio" value="2">
            <label for="degree-2">★★☆☆☆</label>
        </p>
        <p>
            <input id="degree-3" name="degree" required type="radio" value="3">
            <label for="degree-3">★★★☆☆</label>
        </p>
        <p>
            <input id="degree-4" name="degree" required type="radio" value="4">
            <label for="degree-4">★★★★☆</label>
        </p>
        <p>
            <input id="degree-5" name="degree" required type="radio" value="5">
            <label for="degree-5">★★★★★</label>
        </p>
        <button type="submit">Submit</button>
    </form>
    <hr>
     {% for todo in todos %}
        <div class="todo">
            <p>{{ todo['content'] }} <i>({{ todo['degree']}})</i></p>
        </div>
    {% endfor %} 
    </div>
</body>
</html>

